@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --clr-900: hsl(217, 19%, 35%);
  --clr-600: hsl(214, 17%, 51%);
  --clr-400: hsl(212, 23%, 69%);
  --clr-200: hsl(210, 46%, 95%);
}

body {
  background: var(--clr-200);
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
}

span {
  display: block;
}

h1,
p {
  line-height: 1.5;
}

.container {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  color: var(--clr-400);
  margin-bottom: 30px;
}

.hero .hero__img {
  height: 250px;
  object-fit: cover;
}

.main__body {
  position: relative;
}

.main__container {
  padding: 1.1em 2.5em;
}

.main__title,
.profile__name {
  color: var(--clr-900);
  font-weight: 700;
}

.main__text {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 2em;
}

.profile {
  display: grid;
  grid-template-columns: 70px 1fr 40px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.profile__img {
  width: 40px;
  border-radius: 50%;
}

.profile__name {
  margin-bottom: 2px;
}

.profile .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background: var(--clr-200);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 999;
}

.btn i {
  font-size: 15px;
  color: var(--clr-600);
}

.btn.show {
  background: var(--clr-600);
}

.btn.show i {
  color: #fff;
}

.social {
  width: 100%;
  padding: 1.5em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--clr-900);
  position: absolute;
  bottom: 0;
  z-index: 5;
  transform: translateX(100%);
  transition: all 250ms ease-in-out;
}

.social p {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.social .social__link {
  margin-left: 20px;
}

.social .social__icon {
  width: 25px;
}

.show.social {
  transform: translateX(0);
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
    max-width: 900px;
    overflow: visible;
  }

  /* .hero {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  } */

  .hero .hero__img {
    height: 100%;
    width: 380px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .main__body {
    padding: 3em;
  }

  .main__title {
    margin-top: 0;
  }

  .social {
    width: 300px;
    padding: 1em;
    border-radius: 10px;
    justify-content: center;
    right: -58px;
    bottom: 9em;
    transform: scale(0);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

  .social::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 2.5rem;
    z-index: -22;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid var(--clr-900);
  }

  .show.social {
    transform: scale(1);
    /* visibility: visible; */
  }
}
